{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('quiz_index') }}">
        Back to quizzes
    </a>

    <h3 class="text-center mt-5">Quiz builder</h3>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.title, {'attr': {'class': 'form-control'}} ) }}
    </div>
    <h5>Questions</h5>
    <ul class="questions" data-answer-prototype="{{ form_widget(form.questions.vars.prototype.children.answers.vars.prototype)|e('html_attr') }}" data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing question and render its only field: name #}
        {% for question in form.questions %}
            <li>{{ form_row(question.name) }}</li>
            <ul class="answers">
            {% for answer in question.answers %}
                <li>{{ form_row(answer.content) }}</li>
                <li>{{ form_row(answer.isCorrect) }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    </ul>

    {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}} ) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
{% block javascripts %}
    <script>
        var $collectionHolder;

        // setup an "Add question" link
        var $addQuestionLink = $('<button href="#" class="add_question_link btn btn-sucess">Add question</button>');
        var $newLinkLi = $addQuestionLink;

        $(document).ready(function() {
            // Get the ul that holds the collection of questions
            $collectionHolder = $('ul.questions');

            $collectionHolder.find('li').each(function() {
                addQuestionFormDeleteLink($(this));
            });

            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addQuestionLink.on('click', function(e) {
                e.preventDefault();
                addQuestionForm($collectionHolder, $newLinkLi);
            });

            $('.questions').on('click', '.add_answer_link', function(e) {
                e.preventDefault();

                var $answerPrototype = $collectionHolder.data('answer-prototype');

                var questionContainer = $(e.target).closest('.question')[0].innerHTML;
                var questionIndex = questionContainer.match(/[0-9]+/)[0];
                // console.log('question-index=' + questionIndex);
                var answerIndex = $(e.target).closest('.question').find(':input[type=checkbox]').length;
                // console.log('answer-index=' + answerIndex);


                var answerForm = $answerPrototype;

                answerForm = answerForm.replace(/__question_index__/g, questionIndex);
                answerForm = answerForm.replace(/__answer_index__/g, answerIndex);
                answerForm = answerForm.replace(/__answer_number__/g, answerIndex + 1);

                // if (answerIndex === 0) {
                //     var $answersCollectionHolder = "<ul class='answers'></ul>";
                //     $(e.target).closest('.question').append($answersCollectionHolder);
                // }
                var $newFormLi = $('<li class="answer"></li>').append(answerForm);
                // $newLinkLi.before($newFormLi);

                // $(e.target).closest('.question').replaceWith($collectionHolder.data('answer-prototype'));
                $(e.target).parent().prev().append($newFormLi);

                addAnswerFormDeleteLink($newFormLi);

            });
        });

        function addQuestionForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;

            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__question_index__/g, index);
            newForm = newForm.replace(/__question_number__/g, index + 1);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li class="question"></li>').append(newForm);

            $newFormLi.append('<ul class="answers"></ul>');

            var $addAnswerLink = $('<li><a href="#" class="add_answer_link">Add an answer</a></li><br/>');
            $newFormLi.append($addAnswerLink);


            $newLinkLi.before($newFormLi);
            addQuestionFormDeleteLink($newFormLi);
        }

        function addQuestionFormDeleteLink($questionFormLi) {
            var $removeFormA = $('<a href="#">Delete this question</a>');
            $questionFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $questionFormLi.remove();
            });
        }

        function addAnswerFormDeleteLink($questionFormLi) {
            var $removeFormA = $('<a href="#">Delete this answer</a>');
            $questionFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $questionFormLi.remove();
            });
        }
    </script>
{% endblock %}
