{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="text-center mt-5">Quiz builder</h3>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.title, {'attr': {'class': 'form-control'}} ) }}
    </div>
    <h5>Questions</h5>
    <ul class="questions" data-answer-prototype="{{ form_widget(form.questions.vars.prototype.children.answers.vars.prototype)|e('html_attr') }}" data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for question in form.questions %}
            <li>{{ form_row(question.name) }}</li>
            {% for answer in question.answers %}
                <li>{{ form_row(answer.content) }}</li>
                <li>{{ form_row(answer.isCorrect) }}</li>
            {% endfor %}
        {% endfor %}
    </ul>

    {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}} ) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
{% block javascripts %}
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addQuestionLink = $('<a href="#" class="add_question_link">Add a question</a>');
        var $newLinkLi = $('<li></li>').append($addQuestionLink);

        var $answerPrototype = $('ul.questions').data('answer-prototype');
        // console.log($('ul.questions').data('prototype'));

        $(document).ready(function() {
            // Get the ul that holds the collection of questions
            $collectionHolder = $('ul.questions');

            $collectionHolder.find('li').each(function() {
                addQuestionFormDeleteLink($(this));
            });

            // add the "add a question" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addQuestionLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addQuestionForm($collectionHolder, $newLinkLi);
            });

            $('.questions').on('click', '.add_answer_link', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // console.log($collectionHolder.data('answer-prototype'));
                //
                // console.log($(e.target).closest('.question').find(':input[type=text]').length);

                var $answerPrototype = $collectionHolder.data('answer-prototype');

                // get the new index
                var questionContainer = $(e.target).closest('.question')[0].innerHTML;
                // console.log(questionContainer);
                var questionIndex = questionContainer.match(/[0-9]+/)[0];
                console.log('question-index=' + questionIndex);
                // console.log(questionIndex);
                var answerIndex = $(e.target).closest('.question').find(':input[type=text]').length;
                console.log('answer-index=' + answerIndex);


                var answerForm = $answerPrototype;
                // console.log(answerForm);

                answerForm = answerForm.replace(/__question_index__/g, questionIndex);
                answerForm = answerForm.replace(/__answer_index__/g, answerIndex);

                var $newFormLi = $('<li class="answer"></li>').append(answerForm);
                // $newLinkLi.before($newFormLi);


                // $(e.target).closest('.question').replaceWith($collectionHolder.data('answer-prototype'));
                $(e.target).closest('.question').append($newFormLi);

            });
        });

        function addQuestionForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // console.log(newForm);
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__question_index__/g, index);
            // console.log(newForm);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li class="question"></li>').append(newForm);
            // console.log($newFormLi);

            var $addAnswerLink = $('<li><a href="#" class="add_answer_link">Add an answer</a></li><br/>');
            $newFormLi.append($addAnswerLink);


            $newLinkLi.before($newFormLi);
            addQuestionFormDeleteLink($newFormLi);
        }

        function addQuestionFormDeleteLink($questionFormLi) {
            var $removeFormA = $('<a href="#">Delete this question</a>');
            $questionFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $questionFormLi.remove();
            });
        }
    </script>
{% endblock %}
